[Desktop Entry]
Name=PhotoFlow
GenericName=RAW and bitmap photo editing
Comment=Edit images from digital cameras

X-GNOME-FullName=PhotoFlow Photo Editing Software

Version=1.0

Type=Application
Categories=Graphics;Photography;GTK;
# TRANSLATORS: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords=graphics;photography;raw;

Exec=photoflow %U
TryExec=photoflow
Terminal=false
StartupNotify=true

MimeType=application/x-photoflow;image/x-dcraw;image/jpeg;image/jpg;image/png;image/tiff;

Icon=photoflow

X-Unity-IconBackgroundColor=#252525

